<body class="common-bg">
  <div class="wrapper intro">
    <%= render "menu" %>
    
    <div class="img-list"><img src="<%= asset_path('assets/intro_1.jpg') %>" alt=""></div>
    <div class="img-list"><img src="<%= asset_path('assets/intro_2.jpg') %>" alt=""></div>
    <div class="img-list" id="start"><img src="<%= asset_path('assets/intro_3.jpg') %>" alt=""></div>
    <div class="img-list"><img src="<%= asset_path('assets/intro_4.jpg') %>" alt=""></div>
    <div class="img-list"><img src="<%= asset_path('assets/intro_5.jpg') %>" alt=""></div>
    <div class="img-list"><img src="<%= asset_path('assets/intro_6.jpg') %>" alt=""></div>
    <div class="img-list"><img src="<%= asset_path('assets/intro_7.jpg') %>" alt=""></div>
    <div class="img-list"><img src="<%= asset_path('assets/intro_8.jpg') %>" alt=""></div>
    <div class="img-list"><img src="<%= asset_path('assets/intro_9.jpg') %>" alt=""></div>
  </div>
</body>