<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @question.address %>
</p>

<p>
  <strong>College:</strong>
  <%= @question.college %>
</p>

<p>
  <strong>E mail:</strong>
  <%= @question.e_mail %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @question.phone %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
